#sidebar {
    padding: 0;
    margin: 0;
    background-color: black;
    line-height: 40px;
    overflow: auto;
}

li {
    /*display: inline;*/
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    list-style: none;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

a {
    display: block;
    text-decoration: none;   
    height: 40px; 
    color: white;
}

a:hover {
    background-color: gold;
    color: black;
}
