.menu {
    display: block;
    position: fixed;
    margin-top: -23px;
    margin-left: -10px;
    width: 100%;
    background-color: black;
    font-family: sans-serif;
    
}

ul {
    outline: 1px solid blue;
    list-style: none;
    line-height: 100px;
    width: auto;
    margin-left: -40px;
}

li {
    outline: 1px solid green;
    float: left;
    width: 113px;
    height: 57px;
    margin-top: -20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}